![piggy_bank](piggy_bank.jpg)

<br>

Personal loans are a lucrative revenue stream for banks. The typical interest rate of a two year loan in the United Kingdom is [around 10%](https://www.experian.com/blogs/ask-experian/whats-a-good-interest-rate-for-a-personal-loan/). This might not sound like a lot, but in September 2022 alone UK consumers borrowed [around £1.5 billion](https://www.ukfinance.org.uk/system/files/2022-12/Household%20Finance%20Review%202022%20Q3-%20Final.pdf), which would mean approximately £300 million in interest generated by banks over two years!

You have been asked to work with a bank to clean and store the data they collected as part of a recent marketing campaign, which aimed to get customers to take out a personal loan. They plan to conduct more marketing campaigns going forward so would like you to set up a PostgreSQL database to store this campaign's data, designing the schema in a way that would allow data from future campaigns to be easily imported. 

They have supplied you with a csv file called `"bank_marketing.csv"`, which you will need to clean, reformat, and split, in order to save separate files based on the tables you will create. It is recommended to use `pandas` for these tasks.

Lastly, you will write the SQL code that the bank can execute to create the tables and populate with the data from the csv files. As the bank are quite strict about their security, you'll save SQL files as multiline string variables that they can then use to create the database on their end. 

You have been asked to design a database that will have three tables:

## client

| column | data type | description | original column in dataset |
|--------|-----------|-------------|----------------------------|
| `id` | `serial` | Client ID - primary key | `client_id` |
| `age` | `integer` | Client's age in years | `age` |
| `job` | `text` | Client's type of job | `job` |
| `marital` | `text` | Client's marital status | `marital` | 
| `education` | `text` | Client's level of education | `education` |
| `credit_default` | `boolean` | Whether the client's credit is in default | `credit_default` |
| `housing` | `boolean` | Whether the client has an existing housing loan (mortgage) | `housing` | 
| `loan` | `boolean` | Whether the client has an existing personal loan | `loan` |

<br>

## campaign

| column | data type | description | original column in dataset |
|--------|-----------|-------------|----------------------------|
| `campaign_id` | `serial` | Campaign ID - primary key | N/A - new column |
| `client_id` | `serial` | Client ID - references `id` in the `client` table | `client_id` |
| `number_contacts` | `integer` | Number of contact attempts to the client in the current campaign | `campaign` |
| `contact_duration` | `integer` | Last contact duration in seconds | `duration` |
| `pdays` | `integer` | Number of days since contact in previous campaign (`999` = not previously contacted) | `pdays` |
| `previous_campaign_contacts` | `integer` | Number of contact attempts to the client in the previous campaign | `previous` |
| `previous_outcome` | `boolean` | Outcome of the previous campaign | `poutcome` |
| `campaign_outcome` | `boolean` | Outcome of the current campaign | `y` |
| `last_contact_date` | `date` | Last date the client was contacted | A combination of `day`, `month`, and the newly created `year` |

<br>

## economics

| column | data type | description | original column in dataset |
|--------|-----------|-------------|----------------------------|
| `client_id` | `serial` | Client ID - references `id` in the `client` table | `client_id` |
| `emp_var_rate` | `float` | Employment variation rate (quarterly indicator) | `emp_var_rate` |
| `cons_price_idx` | `float` | Consumer price index (monthly indicator) | `cons_price_idx` |
| `euribor_three_months` | `float` | Euro Interbank Offered Rate (euribor) three month rate (daily indicator) | `euribor3m` |
| `number_employed` | `float` | Number of employees (quarterly indicator)| `nr_employed` |

In [1]:
import pandas as pd
import numpy as np

# Read in bank_marketing.csv as a pandas DataFrame.
bank_df = pd.read_csv('bank_marketing.csv')
print(bank_df.head(),bank_df.info())

# Split the data into three DataFrames using information provided about the desired tables as your guide: one with information about the client, another containing campaign data, and a third to store information about economics at the time of the campaign.
client = bank_df.iloc[:,:8]
print(client.head())

campaign = bank_df[['client_id','campaign','duration','pdays','previous','poutcome','y','month','day']]
print(campaign.head())

economics = bank_df[['client_id','emp_var_rate','cons_price_idx','euribor3m','nr_employed']]
print(economics.head())

# Rename the column "client_id" to "id" in client (leave as-is in the other subsets); "duration" to "contact_duration", "previous" to "previous_campaign_contacts", "y" to "campaign_outcome", "poutcome" to "previous_outcome", and "campaign" to "number_contacts" in campaign; and "euribor3m" to "euribor_three_months" and "nr_employed" to "number_employed" in economics.
client.rename(columns = {'client_id':'id'},inplace=True)
print(client.info())

campaign.rename(columns ={'duration':'contact_duration','y':'campaign_outcome','previous':'previous_campaign_contract','poutcome':'previous_outcome','campaign':'number_contacts'},inplace=True)
print(campaign.info())

economics.rename(columns = {'euribor3m':'euribor_three_months','nr_employed':'number_employed'},inplace=True)
print(economics.info())

# Clean the "education" column, changing "." to "_" and "unknown" to NumPy's null values.
client['education'] = client['education'].str.replace('.','_') \
                        .replace('unknown',np.nan)
print(client['education'].unique())

# Remove periods from the "job" column.
client['job']=client['job'].str.strip('.')
print(client['job'].unique())

#Convert "success" and "failure" in the "previous_outcome" and "campaign_outcome" columns to binary (1 or 0), along with the changing "nonexistent" to NumPy's null values in "previous_outcome".
campaign['campaign_outcome'] = campaign['campaign_outcome'].map({'yes': 1,'no' : 0})
campaign['previous_outcome'] = campaign['previous_outcome'].replace({'success': 1,'failure': 0 ,'nonexistent':np.nan})
print(campaign['previous_outcome'].unique(),campaign['campaign_outcome'].unique())

#Add a column called campaign_id in campaign, where all rows have a value of 1.
campaign['campaign_id'] = 1
print(campaign.head())

#Create a datetime column called last_contact_date, in the format of "year-month-day", where the year is 2022, and the month and day values are taken from the "month" and "day" columns.
campaign['last_contact_date'] = pd.to_datetime('2022'+campaign['month'] + campaign['day'].astype('str'),format='%Y%b%d')
print(campaign['last_contact_date'].head())

# Remove any redundant data that might have been used to create new columns, ensuring the columns in each subset of the data match the table displayed in the notebook.
campaign.drop(['month','day'],axis=1,inplace=True)
print(campaign.info())

# Remove any redundant data that might have been used to create new columns, ensuring the columns in each subset of the data match the table displayed in the notebook.
client.to_csv('client.csv',index=False)
campaign.to_csv('campaign.csv',index=False)
economics.to_csv('economics.csv',index=False)

# Store and print database_design
client_table = """CREATE TABLE client
(
    id SERIAL PRIMARY KEY,
    age INTEGER,
    job TEXT,
    marital TEXT,
    education TEXT,
    credit_default BOOLEAN,
    housing BOOLEAN,
    loan BOOLEAN
);
\copy client from 'client.csv' DELIMITER ',' CSV HEADER
"""

campaign_table = """CREATE TABLE campaign
(
    campaign_id SERIAL PRIMARY KEY,
    client_id SERIAL references client (id),
    number_contacts INTEGER,
    contact_duration INTEGER,
    pdays INTEGER,
    previous_campaign_contacts INTEGER,
    previous_outcome BOOLEAN,
    campaign_outcome BOOLEAN,
    last_contact_date DATE    
);
\copy campaign from 'campaign.csv' DELIMITER ',' CSV HEADER
"""

economics_table = """CREATE TABLE economics
(
    client_id SERIAL references client (id),
    emp_var_rate FLOAT,
    cons_price_idx FLOAT,
    euribor_three_months FLOAT,
    number_employed FLOAT
);
\copy economics from 'economics.csv' DELIMITER ',' CSV HEADER
"""

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   client_id       41188 non-null  int64
 1   age             41188 non-null  int64
 2   job             41188 non-null  object
 3   marital         41188 non-null  object
 4   education       41188 non-null  object
 5   credit_default  41188 non-null  object
 6   housing         41188 non-null  object
 7   loan            41188 non-null  object
 8   contact         41188 non-null  object
 9   month           41188 non-null  object
 10  day             41188 non-null  int64
 11  duration        41188 non-null  int64
 12  campaign        41188 non-null  int64
 13  pdays           41188 non-null  int64
 14  previous        41188 non-null  int64
 15  poutcome        41188 non-null  object
 16  emp_var_rate    41188 non-null  float64
 17  cons_price_idx  41188 non-null  float64
 18  cons_conf_idx   41188 non-null  float64
 19  euribor3m       41188 non-null  float64
 20  nr_employed     41188 non-null  float64
 21  y               41188 non-null  object
dtypes: float64(5), int64(7), object(10)
memory usage: 6.9+ MB
   client_id  age        job  marital    education credit_default housing  \
0          0   56  housemaid  married     basic.4y             no      no
1          1   57   services  married  high.school        unknown      no
2          2   37   services  married  high.school             no     yes
3          3   40     admin.  married     basic.6y             no      no
4          4   56   services  married  high.school             no      no

  loan    contact month  ...  campaign  pdays  previous     poutcome  \
0   no  telephone   may  ...         1    999         0  nonexistent
1   no  telephone   may  ...         1    999         0  nonexistent
2   no  telephone   may  ...         1    999         0  nonexistent
3   no  telephone   may  ...         1    999         0  nonexistent
4  yes  telephone   may  ...         1    999         0  nonexistent

   emp_var_rate cons_price_idx  cons_conf_idx  euribor3m  nr_employed   y
0           1.1         93.994          -36.4      4.857       5191.0  no
1           1.1         93.994          -36.4      4.857       5191.0  no
2           1.1         93.994          -36.4      4.857       5191.0  no
3           1.1         93.994          -36.4      4.857       5191.0  no
4           1.1         93.994          -36.4      4.857       5191.0  no

[5 rows x 22 columns] None
   client_id  age        job  marital    education credit_default housing loan
0          0   56  housemaid  married     basic.4y             no      no   no
1          1   57   services  married  high.school        unknown      no   no
2          2   37   services  married  high.school             no     yes   no
3          3   40     admin.  married     basic.6y             no      no   no
4          4   56   services  married  high.school             no      no  yes
   client_id  campaign  duration  pdays  previous     poutcome   y month  day
0          0         1       261    999         0  nonexistent  no   may   13
1          1         1       149    999         0  nonexistent  no   may   19
2          2         1       226    999         0  nonexistent  no   may   23
3          3         1       151    999         0  nonexistent  no   may   27
4          4         1       307    999         0  nonexistent  no   may    3
   client_id  emp_var_rate  cons_price_idx  euribor3m  nr_employed
0          0           1.1          93.994      4.857       5191.0
1          1           1.1          93.994      4.857       5191.0
2          2           1.1          93.994      4.857       5191.0
3          3           1.1          93.994      4.857       5191.0
4          4           1.1          93.994      4.857       5191.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              41188 non-null  int64
 1   age             41188 non-null  int64
 2   job             41188 non-null  object
 3   marital         41188 non-null  object
 4   education       41188 non-null  object
 5   credit_default  41188 non-null  object
 6   housing         41188 non-null  object
 7   loan            41188 non-null  object
dtypes: int64(2), object(6)
memory usage: 2.5+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   client_id                   41188 non-null  int64
 1   number_contacts             41188 non-null  int64
 2   contact_duration            41188 non-null  int64
 3   pdays                       41188 non-null  int64
 4   previous_campaign_contract  41188 non-null  int64
 5   previous_outcome            41188 non-null  object
 6   campaign_outcome            41188 non-null  object
 7   month                       41188 non-null  object
 8   day                         41188 non-null  int64
dtypes: int64(6), object(3)
memory usage: 2.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   client_id             41188 non-null  int64
 1   emp_var_rate          41188 non-null  float64
 2   cons_price_idx        41188 non-null  float64
 3   euribor_three_months  41188 non-null  float64
 4   number_employed       41188 non-null  float64
dtypes: float64(4), int64(1)
memory usage: 1.6 MB
None
['basic_4y' 'high_school' 'basic_6y' 'basic_9y' 'professional_course' nan
 'university_degree' 'illiterate']
['housemaid' 'services' 'admin' 'blue-collar' 'technician' 'retired'
 'management' 'unemployed' 'self-employed' 'unknown' 'entrepreneur'
 'student']
[nan  0.  1.] [0 1]
   client_id  number_contacts  contact_duration  pdays  \
0          0                1               261    999
1          1                1               149    999
2          2                1               226    999
3          3                1               151    999
4          4                1               307    999

   previous_campaign_contract  previous_outcome  campaign_outcome month  day  \
0                           0               NaN                 0   may   13
1                           0               NaN                 0   may   19
2                           0               NaN                 0   may   23
3                           0               NaN                 0   may   27
4                           0               NaN                 0   may    3

   campaign_id
0            1
1            1
2            1
3            1
4            1
0   2022-05-13
1   2022-05-19
2   2022-05-23
3   2022-05-27
4   2022-05-03
Name: last_contact_date, dtype: datetime64[ns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   client_id                   41188 non-null  int64
 1   number_contacts             41188 non-null  int64
 2   contact_duration            41188 non-null  int64
 3   pdays                       41188 non-null  int64
 4   previous_campaign_contract  41188 non-null  int64
 5   previous_outcome            5625 non-null   float64
 6   campaign_outcome            41188 non-null  int64
 7   campaign_id                 41188 non-null  int64
 8   last_contact_date           41188 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(7)
memory usage: 2.8 MB
None

/var/folders/jp/v8h7mrc53nx1kmr8hjlzt2z40000gn/T/ipykernel_9595/1854757646.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  campaign.rename(columns ={'duration':'contact_duration','y':'campaign_outcome','previous':'previous_campaign_contract','poutcome':'previous_outcome','campaign':'number_contacts'},inplace=True)
/var/folders/jp/v8h7mrc53nx1kmr8hjlzt2z40000gn/T/ipykernel_9595/1854757646.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  economics.rename(columns = {'euribor3m':'euribor_three_months','nr_employed':'number_employed'},inplace=True)
/var/folders/jp/v8h7mrc53nx1kmr8hjlzt2z40000gn/T/ipykernel_9595/1854757646.py:29: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  client['education'] = client['education'].str.replace('.','_') \
/var/folders/jp/v8h7mrc53nx1kmr8hjlzt2z40000gn/T/ipykernel_9595/1854757646.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  campaign['campaign_outcome'] = campaign['campaign_outcome'].map({'yes': 1,'no' : 0})
/var/folders/jp/v8h7mrc53nx1kmr8hjlzt2z40000gn/T/ipykernel_9595/1854757646.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  campaign['previous_outcome'] = campaign['previous_outcome'].replace({'success': 1,'failure': 0 ,'nonexistent':np.nan})
/var/folders/jp/v8h7mrc53nx1kmr8hjlzt2z40000gn/T/ipykernel_9595/1854757646.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  campaign['campaign_id'] = 1
/var/folders/jp/v8h7mrc53nx1kmr8hjlzt2z40000gn/T/ipykernel_9595/1854757646.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  campaign['last_contact_date'] = pd.to_datetime('2022'+campaign['month'] + campaign['day'].astype('str'),format='%Y%b%d')
/var/folders/jp/v8h7mrc53nx1kmr8hjlzt2z40000gn/T/ipykernel_9595/1854757646.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  campaign.drop(['month','day'],axis=1,inplace=True)